body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(115deg, #3ca0be, #fff);
}
/*.............responsive mobile (first)................*/

@media screen and (max-width: 600px) {
  h1 {
    color: #fff;
    border-bottom: 1px dotted #fff;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }

  article a {
    text-decoration: none;
    color: #fff;
    background: #ec5da0aa;
    border-radius: 25px;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.4s;
    padding: 20px 25px;
    text-align: center;
    display: inline;
  }

  section {
    margin: 0;
    position: absolute;
    top: 15%;
    display: block;
    margin-left: 20%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.267);
  }
  article {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  article a:hover {
    transition-delay: 0.2s;
    background-image: linear-gradient(
      90deg,
      #00c0ff 0%,
      #ffcf00 49%,
      #fc4f4f 80%,
      #00c0ff 100%
    );
  }
  #home {
    width: 350px;
    height: 400px;
    color: #000;
    font-weight: 900;
    padding: 60px 30px;
    box-sizing: border-box;
    box-shadow: 8px 8px 50px rgb(77, 77, 77);
    border-radius: 15px;
    margin-top: 30px;
  }
  img {
    width: 500px;
  }
  .dogLogo {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
   /* Puppy filteren */
  .containerForm2 {
    width: 350px;
    height: 550px;
    color: #000;
    padding: 30px ;
    box-sizing: border-box;
    box-shadow: 8px 8px 50px rgb(77, 77, 77);
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 30px;

  }
  /* Puppy toevoegen*/
  .containerForm {
    width: 350px;
    height: 700px;
    color: #000;
    padding: 30px ;
    box-sizing: border-box;
    box-shadow: 8px 8px 50px rgb(77, 77, 77);
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 30px;

  }
  .formControl {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  
  .formControl label {
    display: inline-block;
    margin-bottom: 8px;
  }
  
  .formControl input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-size: 16px;
  }
  
  .formControl [type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    background-color: #ec5da0aa;
    border-radius: 10px;
    color: #fff;

  }
  .formControl [type="submit"]:hover {
    cursor: pointer;
    font-weight: 900;
    transition-delay: 0.2s;
    background-image: linear-gradient(
      90deg,
      #00c0ff 0%,
      #ffcf00 49%,
      #fc4f4f 80%,
      #00c0ff 100%
    );
  }
  p{
  font-size: 12px;
  font-style: italic;
  margin: 0;
  }

  a{
    text-decoration: none;
    color: #fff;
    background: #ec5da0aa;
    border-radius: 25px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 8px;
    text-align: center;
   
  }
  a:hover{
    font-weight: 900;
    transition-delay: 0.2s;
    background-image: linear-gradient(
      90deg,
      #00c0ff 0%,
      #ffcf00 49%,
      #fc4f4f 80%,
      #00c0ff 100%
    );

  }
  }

/*.............responsive desktop................*/


@media screen and (min-width: 600px) {
  span{
    opacity: 0;
    transition: all 1s ease;
   
  }
  
  span.fade{
    opacity: 1;
  }
  h1 {
    color: #fff;
    border-bottom: 1px dotted #fff;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
  }

  article a {
    text-decoration: none;
    color: #fff;
    background: #ec5da0aa;
    border-radius: 25px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.4s;
    padding: 32px 34px;
    text-align: center;
    font-weight: 900;
  }

  section {
    margin: 0;
    position: absolute;
    top: 25%;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.267);

  }
  article {
    padding: 40px;
    margin: 0;
  }
  article a:hover {
    transition-delay: 0.2s;
    background-image: linear-gradient(
      90deg,
      #00c0ff 0%,
      #ffcf00 49%,
      #fc4f4f 80%,
      #00c0ff 100%
    );
  }
  #home {
    width: 450px;
    height: 450px;
    color: #000;
    padding: 60px 30px;
    box-sizing: border-box;
    box-shadow: 8px 8px 50px rgb(77, 77, 77);
    border-radius: 15px;
    margin-left: 35%;
    margin-top: 5%;
  }
  img {
    padding: 10px;
    width: 700px;
  }
  .dogLogo {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
   /* Puppy filteren */
  .containerForm2 {
    width: 450px;
    height: 600px;
    color: #000;
    padding: 30px ;
    box-sizing: border-box;
    box-shadow: 8px 8px 50px rgb(77, 77, 77);
    border-radius: 15px;
    margin-left: 35%;
    margin-top: 30px;

  }
  /* Puppy toevoegen*/

  .containerForm {
    width: 450px;
    height: 650px;
    color: #000;
    padding: 30px ;
    box-sizing: border-box;
    box-shadow: 8px 8px 50px rgb(77, 77, 77);
    border-radius: 15px;
    margin-left: 35%;
    margin-top: 30px;

  }
  .formControl {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  
  .formControl label {
    display: inline-block;
    margin-bottom: 8px;
  }
  
  .formControl input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-size: 16px;
  }
  
  .formControl [type="submit"] {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    background-color: #ec5da0aa;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;

  }
  .formControl [type="submit"]:hover {
    cursor: pointer;
    font-weight: 900;
    transition-delay: 0.2s;
    background-image: linear-gradient(
      90deg,
      #00c0ff 0%,
      #ffcf00 49%,
      #fc4f4f 80%,
      #00c0ff 100%
    );
  }
  p{
  font-size: 12px;
  font-style: italic;
  margin: 0;
  }

  a{
    text-decoration: none;
    color: #fff;
    background: #ec5da0aa;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 18px;
    text-align: center;
   
  }
  a:hover{
    font-weight: 900;
    transition-delay: 0.2s;
    background-image: linear-gradient(
      90deg,
      #00c0ff 0%,
      #ffcf00 49%,
      #fc4f4f 80%,
      #00c0ff 100%
    );

  }
}

/* Overview puppys aanbod*/

.puppyContainer {
  display: flex;
  flex-direction: row;
}

article img {
  width: 250px;
  padding: 10px;
}

/*Puppy toevoegen*/

legend {
  display: none;
  border: none;
}

fieldset {
  border: none;
}



/* 404 PAGE */
.container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;
}

.container h2 {
font-family: "Montserrat", sans-serif;
  font-size: 140px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
}

.container a {
  text-decoration: none;
  color: #fff;
  background: #ec5da0aa;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.container a:hover {
  font-weight: 900;
  transition-delay: 0.2s;
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
}
/* animation header home page */

span{
  opacity: 0;
  transition: all 1s ease;
 
}

span.fade{
  opacity: 1;
}

.form-group{
  margin-bottom: 4px;
}

/* form validtion */
.error{
  color:red;
}

.hide{
  display: none;
}
