<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Login</title>
    <%- include('./components/head') %>

</head>

<body>
    <header>
        <nav>
            <a href="#"> Terug</a>
        </nav>
    </header>

    <main class="containerForm">

        <h1> Puppy toevoegen </h1>
        <img src="images/dog.svg" alt="doglogo">

        <form id="addForm" action="/add" method="POST" enctype="multipart/form-data">

            <fieldset>
                <legend> Wat is de naam van je puppy?</legend>
                <label for="naam"> Wat is de naam van je puppy?
                    <input type="text" name="naam"> </input>
                </label>

            </fieldset>

            <fieldset>
                <legend>Wat voor ras is je puppy?</legend>
                <p> Kies een ras: </p>
                <select for="ras" id="ras" name="ras">
                    <option value="labradoodle">Australische labradoodle</option>
                    <option value="beagle">Beagle</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Chow Chow">Chow Chow</option>
                    <option value="Dalmatier">Dalmatier</option>
                    <option value="Duitse Herder">Duitse herder</option>
                    <option value="Franse Buldog">Franse Buldog</option>
                    <option value="Jackrussel">Jackrussel</option>
                    <option value="Keeshond">Keeshond</option>
                    <option value="Labrador">Labrador</option>
                    <option value="Mopshond">Mopshond</option>
                    <option value="Poedel">Poedel</option>
                    <option value="Pomeriaan">Pomeriaan</option>
                    <option value="Shiba">Shiba</option>
                    <option value="Syberische husky">Syberische husky</option>
                    <option value="Toypoedel">Toypoedel</option>
                    <option value="Yorkshireterrier">Yorkshireterrier</option>
                </select>
            </fieldset>

            <fieldset>
                <legend>Geslacht</legend>
                <p> Geslacht:</p>
                <input type="radio" id="gender" name="gender" value="reutje">
                <label for="gender">Reutje</label>
                <input type="radio" id="gender" name="gender" value="teefje">
                <label for="gender">Teefje</label>
            </fieldset>

            <fieldset>
                <legend>Kleur</legend>
                <p>Kleur:</p>
                <input type="radio" id="Kleur" name="kleur" value="Rood">
                <label for="Kleur">Rood</label>
                <input type="radio" id="Kleur" name="kleur" value="Zwart">
                <label for="Kleur">Zwart</label>
                <input type="radio" id="Kleur" name="kleur" value="Wit">
                <label for="Kleur">Wit</label>
                <input type="radio" id="Kleur" name="kleur" value="Grijs">
                <label for="Kleur">Grijs</label>
                <input type="radio" id="Kleur" name="kleur" value="Bruin">
                <label for="Kleur">Bruin </label>
            </fieldset>

            <fieldset>
                <legend>Prijs puppy</legend>
                <label for="puppyprijs">Vraag prijs: €</label>
                <input type="text" name="prijs">
            </fieldset>

            <fieldset>
                <legend>Geboorte datum</legend>
                <label for="birthdate">Geboren op:</label>
                <input type="date" name="geboortedatum">
            </fieldset>

            <fieldset>
                <legend> Profiel foto puppy</legend>
                <label for="profielfoto" name="profielfoto">upload een foto:</label>
                <input type="file" name="profielfoto">
            </fieldset>
 


            <div class="addForm">
                <input type="submit" value="toevoegen" form="addForm">

            </div>
        </form>
    </main>

</body>

</html>