<head>
    <%- include('./components/head') %>
    <title>Home</title>
</head>

<body>

    <h1 class="fancy">Puppy duppy</h1>
    <img src="images/dog.svg" alt="doglogo">

    <section id="home">
        <h2> Welkom bij Puppy Duppy!</h2>
        <h3> De plek voor een puppy te zoeken of te verkopen</h3>
        <article>
            <a href="/puppy-filteren">Zoeken</a>
        </article>
        <article>
            <a href="/puppy-toevoegen">Puppy toevoegen</a>
        </article>
    </section>
</body>

</html>