<head>
    <%- include('./components/head') %>
    <title>Home</title>
</head>

<body>

    <h1>Puppy duppy</h1>
    <section>
        <article>
            <a href="/puppy-filteren">Filteren</a>
        </article>
        <article>
            <a href="/puppy-toevoegen">Puppy toevoegen</a>
        </article>
    </section>
</body>

</html>