<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login</title>
    <%- include('./components/head') %>
</head>
<body>
    <!-- <p>Hi, <%- hondenNamen[Math.floor(Math.random() * 4)] %> </p> -->
    <div class="wrapper">
        <h1> Inloggen</h1>
        <form action="">
<input type="text" placeholder="Gebruikersnaam">
<input type="password" placeholder="Wachtwoord">
<input type="submit" value="Inloggen">
        </form> 
        <div class="bottom"> 
            <input type="checkbox" name="Onthoud mij" checked="checked">
<a href="#">Registreren</a>
<a href="#">Wachtwoord vergeten?</a>
        </div>

    </div>

</body>
</html>